.content__container {
    margin: auto;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
}

.content__column {
    column-count: 3;
    column-gap: 30px;
    column-fill: auto;
}
