.header {
    z-index: 10;
    height: 76px;
    opacity: 0.78;
    background-color: #242424;
    width: 100%;
    padding: 18px 25px;
    font-size: 12px;
}

.header__select {
    height: 38px;
    width: 180px;
    font-weight: normal;
    font-size: 16px;
    color: #414042;
    padding: 0 15px;
    border-radius: 1px;
    border: 1px solid #b7b7b7;
    outline: none;
}
